/*CSSheadMARGIN*/
/*dovageiste's etherBox Designer CSS API & Library ================================================*/

/* general CSS Reset */
        *, 
        html, 
        body {
            margin: 0%;
            padding: 0%;
            box-sizing:border-box;
        }

/* 'Switch' to remove edited out elements, which may still be represented in HTML, or may be saved for later consideration. They will be removed entirely from the document's display. They are marked with class: */

        .theHitList{
            display:none;
        }


/* Elemental Controls ========================================================================================== 
These are CSS parameters, by ID's and Classes, for all major HTML elements, grouped together by context. The list starts with editable abstract elements such as the 'body', to the 'etherBox' which is the invisible bed of the whole website, to its direct descendant, the 'metaBox', down to the alphaBox class of row-oriented major flexboxes, and so on. */

    body {
        background-image: url('image/philippe-oursel-1TcROt1gu34-unsplash.jpg');
        background-size: 110%;
        background-position-y: 87%;
        background-position-x: -12em;
            }*, body {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                text-align: center;
                justify-content: center;
            }body::-webkit-scrollbar {
                display: none;
            }

    #theetherBox {
        display: flex;
        min-height: 100dvh;
        max-height: 100dvh;
    }

            #theFilter {
                position:fixed;
                z-index: 100;
                top:0; 
                left:0;
                bottom:0; 
                right:0;
                background-color:rgba(214, 255, 65, 0.142);   
                
            }

                    #themetaBox {
                        height: 100dvh;
                        max-width: 100dvw;
                        display: flex;
                        flex-direction: column;
                        background-color: rgba(0, 0, 0, 0.350);
                        flex-grow: 1;           
                        }
                            .alphaBox {
                                display: flex;
                                margin: .3% .5% .3% .5%;
                                flex-wrap: row nowrap;
                            }

                            .betaBox {
                                display:flex;
                                flex: 1 0 100%;
                                flex-direction: row nowrap;
                                /* padding: .5% 0% .5% 0%; */
                                margin: .2% .2% .2% .2%;
                            }
                                    .kinderbox {
                                        display:block;
                                        position: relative;
                                    }        
                                            
                                    
                                    /* .vocabox{
                                        display:flex;
                                        flex: 1 0 100%;
                                        flex-direction:column nowrap;
                                        text-align: left;
                                        align-content:flex-start;
                                    } */
                                        
                                        
                                    #hatBox    {
                                                    display: flex;
                                                    flex: 1 .5;
                                                    max-height: 18%;
                                                    background-color: rgba(255, 255, 240, 0.8);
                                                    border-radius: 0px;
                                                    outline: 11px solid ivory;
                                                    
                                                    } 
                                                            
                                                            /* #peaLogo {
                                                                display: none;
                                                                width: 20%;
                                                                align-items: flex-start;
                                                            } */
                                                            
                                                            #titleRibbon {
                                                                display: flex;
                                                                border-radius: 1.2em;
                                                                justify-content: flex-start;
                                                                flex: 1 1;
                                                                background-color: rgba(60, 247, 206, 0.5);
                                                                box-shadow: 0rem -11.5em 0rem 12rem ivory;
                                                                overflow: visible;
                                                                
                                                            }
                                                            
                                                                    #titleItself {
                                                                        /* color: rgb(3, 255, 200); */
                                                                        color: ivory;
                                                                        /* background: linear-gradient(45deg, ivory, turquoise); */
                                                                        flex: 1 0 100;
                                                                        justify-content: flex-start;
                                                                        margin-right: -.7em;
                                                                        
                                                                    }
                                                                        #navaBar2 {
                                                                            margin-top: 1.7%;
                                                                            flex: .4 0 30;
                                                                            display: grid;
                                                                            grid-template-columns: repeat(4, 1fr);
                                                                            grid-template-rows: repeat(2, 1fr);
                                                                            grid-column-gap: .3em;
                                                                            grid-row-gap: 0em;
                                                                            overflow: visible;
                                                                            justify-items: center;
                                                                            align-items:center;
                                                                            background-color: transparent;
                                                                            }

                                                                            .svgRing2{
                                                                                outline: 8px double ivory;
                                                                                border-radius: 50%;
                                                                                padding: 8px;
                                                                                align-items: center;
                                                                                justify-items: center;
                                                                                overflow:visible;
                                                                                box-shadow: 1px 4.5px 8px rgba(255, 231, 93, 0.879), 10px 2px 10em rgba(255 240 220 / .5);
                                                                            }
                                            #torsoBox {
                                            flex: 5 0 20vw;
                                            overflow: clip;
                                            min-width: 98;
                                            max-width: 98;
                                            outline: 1em solid ivory;
                                            box-shadow: 2rem 3.5em 10rem 2rem rgb(51, 255, 180) inset; 
                                            /* 10em 0em 0em 1.2em ivory, -8em 0em 0em 1.2em ivory;  */
                                            border-radius: 1.2em;                      
                                            /* outline: 1px solid ivory; */

                                                            }

                                                            #theConsole {
                                                                flex: 1 1;
                                                                /* /* background-color: rgba(192, 0, 0, 0.450); */
                                                                /* background-color: rgba(6, 10, 118, 0.167); */
                                                                /* outline: 10px solid ivory; */
                                                                overflow: clip;
                                                                margin: .8%;
                                                                /* background-color: rgba(10, 212, 192, 0.50); */
                                                                border-radius: 3em;
                                                                
                                                            }

                                                            #dominionBox {
                                                                flex: 5 1;
                                                                /* /* background-color: rgba(192, 0, 0, 0.450); */
                                                                /* background-color: rgba(6, 10, 118, 0.167); */
                                                                /* outline: 10px solid ivory; */
                                                                overflow: clip;
                                                                border-radius: 1.5em;
                                                                margin: .8%;
                                                                /* box-shadow: 2rem 3.5em 30rem 3rem rgb(51, 112, 255) inset; */
                                                                /* outline: 100px solid ivory; */
                                                                
                                                            }

                                                            .dib {
                                                                display: inline-block;
                                                            }
                                                            
                                                            .h2 {
                                                                height: 2rem;
                                                                
                                                            }
                                                            
                                                            .link {
                                                                text-decoration: none;
                                                                transition: color .15s ease-in;
                                                                border: 4px solid ivory;
                                                                border-radius: 50%;
                                                            }
                                                            
                                                            .link:link, .link:visited {
                                                                transition: color .15s ease-in;
                                                            }
                                                            
                                                            .link:hover {
                                                                transition: color .15s ease-in;
                                                            }
                                                            
                                                            .link:active {
                                                                transition: color .15s ease-in;
                                                            }
                                                            
                                                            .link:focus {
                                                                transition: color .15s ease-in;
                                                                outline: 1px dotted currentColor;
                                                            }
                                                            
                                                            .w2 {
                                                                width: 2rem;
                                                            }
                                                            
                                                            .near-black {
                                                                color: #111;
                                                            }
                                                            
                                                            .hover-silver:hover {
                                                                color: #999;
                                                            }
                                                            
                                                            .hover-silver:focus {
                                                                color: #999;
                                                            }
                                                            
                                                            .pv4 {
                                                                padding-top: 2rem;
                                                                padding-bottom: 2rem;
                                                            }
                                                            
                                                            .ph3 {
                                                                padding-left: 1rem;
                                                                padding-right: 1rem;
                                                            }
                                                            
                                                            .mr3 {
                                                                margin-right: 1rem;
                                                            }
                                                            
                                                            .tc {
                                                                text-align: center;
                                                            }
                                                            
                                                            @media screen and (min-width: 30em) {
                                                                .ph5-ns {
                                                                    padding-left: 4rem;
                                                                    padding-right: 4rem;
                                                                }
                                                            }
                                                            

                                                                            

                                            #theunderBox {
                                                display: flex;
                                                flex: 1.5 0;
                                                overflow: clip;
                                                justify-content: center;
                                                align-content: start;
                                                outline: .7em solid ivory;
                                                /* box-shadow: 1em 0em 0em 1.2em ivory, -80em 1em 0em .8em ivory */
                                                    }
                                                                    #theunderSpan{
                                                                        background-color: rgba(60, 247, 206, 0.5);
                                                                        border-radius: 1.2em;
                                                                        outline: 140px solid ivory;
                                                                    }
                                                                                        #ourLegalities {
                                                                                            justify-content: bottom;
                                                                                            align-content: bottom;
                                                                                        }

/*Typography & Type Color Standards==========================================================================================*/
h1 {
    display: flex;
    font-family: 'Monoton', 'fantasy';
    font-weight: 500;
    font-size: 5em;
    align-self: center;
    justify-self: center;
    padding: 0 1em 0 1em;
    text-shadow: 0px -1.5px 0px rgba(255, 255, 255, 0.3), 1px 2px 2px rgb(255, 207, 145);
    /* background-color: rgba(31, 204, 57, 0.24); */
    /* border-radius: 0em 3em 3em 0em; */
        } 

h2 {
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Train One';
    align-self: center;
    justify-self: center;
    color: ivory;
text-shadow: 0px -1.5px 0px rgba(255, 255, 255, 0.3), 1px 2px 2px rgb(255, 207, 145);
    border-radius: 20px;
    padding: 5px 8px 5px 8px;
    margin: 2px;
}

h3 {
    display: inherit;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Montserrat';
    align-self: center;
    justify-self: center;
    background-color: ivory;
    
}
        /* #navaBar > h2 {
            display: flex;
            font-size: 1em;
            font-weight: 700;
            font-family: 'Montserrat';
            align-self: center;
            justify-self: center;
            color: burlywood;
            background-color: ivory;
            border-radius: 25px;} */


p1 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.5em;
    color: rgba(6 249 196 / .5);
    align-self: center;
    justify-self: center;
}

p2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    color: rgba(41, 215, 178, 0.627);
    align-self: center;
    justify-self: center;
}

p3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3em;
    color: rgba(41, 215, 178, 0.627);
    align-self: center;
    justify-self: center;
}

p4{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1em;
    color: rgba(179, 171, 31, 0.627);
    
}

p5,
#imaginationTag
    {
    font-family: 'Train One';
    font-weight: 600;
    font-size: 1em;
    text-align: left;
    color: ivory;
    padding-left: 0%;
    margin-left: 0%;
    margin-right: 2em;
}

/* Custom Theme Colors ===========================================================================*/














/* Standard CSS Utilities============================================================================*/
                
        /*BUTTONS*===================================================================================*/
                            .button-rounded-hover {
                                outline: .2em inset burlywood;
                                border-radius: 5000px;
                                padding: 0.3rem 2rem;
                                max-height:50%;
                                text-transform: capitalize;
                                position: absolute;
                                right: 105px;
                                bottom:20px;
                                position: 12% 15%;
                                overflow: hidden;
                                font-size: 1.2em;
                                letter-spacing: 2px;
                                transition: all 0.35s ease;
                                -webkit-transform: translateZ(0);
                                        transform: translateZ(0);
                            }
                            
                            .button-rounded-hover:before {
                                opacity: 0;
                                content: "";
                                position: absolute;
                                /* object-position: 125% 175% ; */
                                border-radius: inherit;
                                background-color: ivory;
                                transition: all 0.3s;
                                -webkit-transform: translateX(-100%);
                                    -ms-transform: translateX(-100%);
                                        transform: translateX(-100%);
                            }
                            
                            .button-rounded-hover:after {
                                position: absolute;
                                top: 0px;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;                             
                                content: '';
                                border-radius: inherit;
                            }
                            
                            .button-rounded-hover:hover,
                            .button-rounded-hover:focus {
                                background-color: rgba(0, 0, 0, 0.581);
                            }
                            
                            .button-rounded-hover:hover:before,
                            .button-rounded-hover:focus:before {
                                -webkit-transform: translateX(0%);
                                    -ms-transform: translateX(0%);
                                        transform: translateX(0%);
                                opacity: 0.25;
                            }




    /* Media Queries*/
    @media only screen and (max-width: 780px) {

         html, 
        body {
            margin: 0%;
            padding: 0%;
        }

         body {
         background-image: url('image/richard-clark-d1X3oqU5bOk-unsplash.jpg'); 
         background-size:102%;
            background-position: -1rem 15rem;
        }

        #theetherBox {
            display: flexbox;
            flex-direction: column nowrap;
            min-height: 100dvh;
            max-height: 100dvh;
        }
    
                        #themetaBox {
                            height: 100dvh;
                            display: flexbox;
                            flex-direction: column nowrap;
                            background-color: rgba(195, 129, 7, 0.444);
                            flex-grow: 1;           
                            }
        .alphaBox{
            display:flexbox;
            flex-direction: column nowrap;
        }

        h1{
            font-size: 4em;
        }
                #titleItself {
                color: ivory;
                font-size: 2em;            
                /* background-color: rgba(255 255 240 / .5); */
                border-radius: 40px;
            }

        h3 {
            font-size: 1.2rem;
            color: ivory;
        }
        

        #hatBox    {
            display: inline-block;
            flex: 1 1;
            background-color: rgba(6 249 196 / .5);                
            border-radius: 0px;
            overflow: clip;            
                    } #peaLogo {
                        display: none;
                        width: 20%;
                        align-items: flex-start;
                    }
                    
                    #titleRibbon {
                        display: flex;
                        flex-direction: column nowrap;
                        justify-content: flex;
                        background-color: rgba(6, 249, 196, 0);
                        border-radius: 8rem;
                        overflow: visible;
                    } 
                    #navaBar {
                        display: grid;
                        padding-top: 1.2%;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        grid-column-gap: 0em;
                        grid-row-gap: 0em;
                        overflow: visible;
                        justify-items: center;
                        align-items:center;
                        box-shadow: 2rem 6rem 0rem 18rem rgba(255 255 240 / .5);
                                        }

                                        #navaBar > h3 {
                                            display: auto;
                                            font-size: 1em;
                                            font-weight: 900;
                                            font-family: 'Montserrat';
                                            align-self: center;
                                            justify-self: center;
                                            color: rgba(222, 184, 135, 0.350);
                                            background: ivory;
                                            border-radius: 25px;
                                            margin-top: -20%;
                                            overflow:visible;
                                        }
                        .svgRing{
                            display: grid;
                            outline: .2em double burlywood;
                            border-radius: 50%;
                            padding: .4em;
                            align-items: center;
                            justify-items: center;
                            overflow:visible;
                        }

            #torsoBox {
                    display:flex;
                    flex-flow: column nowrap;
                    /* min-height: 70dvh; */
                    flex: 5 0;
                    outline: .5em solid ivory;
                    background-color:rgba(0 0 0 / .2);
                    padding: 0px 0px 0px 0px;
                    }
                    #theConsole {
                        display: flex;
                        min-block-size: 8dvh;
                        flex: .5 0;
                        background-color: rgba(4, 84, 37, 0.590);
                        overflow: clip;
                        outline: .8rem solid ivory;
                        border-radius: 20px;
                    }
                    #dominoBox {
                        display:flexbox;
                        /* min-block-size: 54vh;
                        min-width: 99dvw; */
                        flex: 4 0;
                        /* background-color: rgba(169, 28, 28, 0.12); */
                        background-color: rgba(8, 0, 255, 0.35);
                        overflow: clip;
                        outline: 2em solid ivory;
                        border-radius: 20px;
                        margin: 0%
                    }                                                      
                    #copyBox {
                        display: flexbox;
                        /* min-width: 99dvw;
                        min-block-size: 10vh; */
                        flex: .7 0;
                        background-color: rgba(218, 211, 7, 0.350);
                        overflow: clip;
                        outline: 1em solid ivory;
                        border-radius: 20px;
                        padding: 0%;
                    }
            #theunderBox {
                display: block;
                position: sticky;
                /* max-height: 3.2em; */
                flex: .5 1;
                overflow: clip;
                /* background-color: rgba(12, 4, 254, 0.350); */
                background-color: rgba(169, 28, 28, 0.52);
                justify-content: center;
                align-content: start;
                outline: 1em solid ivory;
                border-radius: 10px;
            }

    } 

        

    /*wunderScribe JS - Javascript Wunderbachs Presets. The downloadable WunderScribe Javascript file (.js) must also be activated.*/

    /* .pisceanPortal {
        size: 1px;
    } */





    /* .magicWindow {
    display: grid flex;
    background-color: oldlace;

    } */
    /*=====================================exit Wunderbachs==============================================*/